.dinosaurs {
    display: flex;
    flex-wrap: wrap;
  }
  
  .dinosaur-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1rem;
    padding: 1rem;
    box-shadow: 2px 2px 3px rgba(192,192,192);
  }
  
  .dinosaur-card > img {
    width: 80%;
  }